:root {
  --lightpink: #ffb6c1
  }

:root {
    --accent-color: lightpink;
  }

  /* outline around player */
#classPreviewCanvas {
  filter: drop-shadow(2px 2px var(--lightpink)) drop-shadow(-2px -2px var(--lightpink)) drop-shadow(-2px 2px var(--lightpink)) drop-shadow(2px -2px var(--lightpink));
}

/* Removal */
#clientExit,
#aMerger,
#rankedSoonTm,
#newsHolder,
#youNewDiv,
#onetrust-consent-sdk,
.weapKey,
#aHolder,
.imageButton,
#editorBtnM,
.headerBarRight .verticalSeparator,
#seasonLabel,
.krSocial,
#mailCount,
#voiceDisplay,
#bubbleContainer,
.endAHolder,
#igXPBar,
.button.small.buttonO img,
#tlInfHold,
#loadEditrBtn,
.settingsBtn[onclick="openOneTrust()"],
.menuSocialB,
#topRightAdHolder,
.setSugBox2 {
  display: none !important;
}

.button,
.button:hover,
.quickJoin,
.setHed,
.sliderVal {

}



/* COMP */

iframe#bigMFeatVid,
#cmpPartnerImg,
#cmpLeavInfo,
#cmpDatBox,
#cmpStatBox .material-icons,
#cmpStatBox .material-icons + span {
  display: none !important;
}


.button {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 4px solid white;
    text-align: center;
    color: white;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all 0.08s;
    transition: all 0.08s;
    height: 30px;
    vertical-align: bottom;
    font-size: 20px !important;
    line-height: 35px;
    background-color: rgb(0 0 0 / 0%);
    border-color: rgba(0, 0, 0, 0) !important;
}



.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: lightpink !important;
  filter: brightness(0) drop-shadow(0 0 5px var(--accent-color));
}


#policeButton {
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #fff;
  display: none;
  border-radius: 6px;
  border: 4px solid #00000000 !important;
}

#mainLogo {
  display: none !important;
  content: url(https://raw.githubusercontent.com/crazy-90/krunker.io/refs/heads/main/images/poop.png);
  align-items: center;
  width: 50%;
  height: 50%;
}





.weapItem {
  transition-duration: 0.25s;
  height: 0;
  opacity: 0 !important;
  background-color: transparent;
  left: -350%;
  top: -3%;
}

.weapIcon {
	position: relative;
    left: 40% !important;
    height: 50%;
    width: 50%;
    top: 82%;
  filter: brightness(0) drop-shadow(0 0 5px var(--accent-color));
}

.weapItemInner {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  margin: 3px;
  padding: 2px 10px;
  display: inline-block;
  position: relative;
  top: -39%;
  height: 250%;
  width: 150%;
  left: -50%;
}



.weapItem[style*="1"] {
  opacity: 1 !important;
  height: 80px;
}

.weapKey,.weapSkin, .weapStreakHolder, .weapStreakInner {
  display: none !important;
}


#ammoIcon {
  display: none !important;
   left: -100px;
  position: relative;
}


#ammoMax {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-right:10px
  left: -100px;
  position: relative;
}

#ammoHolder {
  border-radius: 4px;
  background-color: var(--div-black);
  display: inline-block;
  font-size: 29px;
  letter-spacing: -2px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: url(../img/blank_2.png);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  position: fixed;
  top: 85%;
}

#ammoHolder {
  position: fixed;
  top: calc(50% + 35px);
  left: calc(50% - 30px);
  transform: unset;
  height: 7px;
  width: 60px;
  background-color: transparent!important;
  background-image: linear-gradient(to right,rgb(255 255 255),rgb(255 255 255))
}

#ammoVal {
  font-size: 50px;
  position: fixed;
  right: calc(0% + 40px);
  bottom: 30px;
  text-shadow: 2px 2px 5px #00000000;
  left: 15%;
  top: 83%;
  color: lightpink;
}


#ammoMax, #ammoIcon {
      display: none;
}

.greyInner {
      background-color: rgba(255, 255, 255, 0);
}


#timerHolder {
  text-align: center;
  z-index: 3;
  will-change: transform;
  transform: translateZ(0);
  width: 300px;
  margin-bottom: 5px;
  right: 42%;
  position: fixed;
  top: 5%;
  background-color: transparent !important;
  filter: brightness(0) drop-shadow(0 0 5px var(--accent-color));
}


#miniMapOverlay {
  font-size: 25px;
  color: #fff;
  /* background-color: rgba(59, 58, 57, 1); */
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75); */
  display: none;
}


#bottomLeftPlayerRight {
  padding: 3px;
  padding-right: 7px;
  padding-left: 9px;
  background-color: var(--div-grey);
  margin: 3px;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: none;
  color: rgb(255, 255, 255);
}


#bottomLeftTeamHolder {
  display: none;
  grid-auto-flow: column;
  grid-template-columns: 66px 181px;
  grid-gap: 3px;
  justify-content: center;
}



.nHealthBarSeg {
  height: 50px;
  margin: 0px -8px;
}

#bottomLeftHealthBar {
  column-gap: 0px;
  padding: 0px;
}

.nHpBSeg {
  border-radius: 10px;
}

#bottomLeftPlayer {
  width: 375px;
  grid-template-columns: 105px 250px auto;
  background-color: rgb(20 20 20 / 45%);
  border-radius: 23px;
}

#bottomLeftPlayerLeft {
  margin: 0px;
}

#tcStringBtn {
	display: none !important;
}

#streakCount {
  left: 48% !important;
  position: fixed !important;
  bottom: 20% !important;
}
.statIcon {
  color: rgba(255, 255, 255, .6);
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgb(20 20 20 / 0%);
}


#menuItemContainer {
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 130px;
  display: flex;
  flex-direction: column;
  background: rgb(0 0 0 / 0%) !important;
}


#chatList {
  overflow-y: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999999;
  border-radius: 5px 5px 0 0;
  background-color: rgb(0 0 0 / 0%);
  pointer-events: all;
  position: relative;
  direction: rtl;
  text-align: left;
  box-shadow: unset!important;
}


#leaderboardHolder {
    text-align: left;
    float: right;
    width: 350px;
    z-index: 3;
    color: rgba(255, 255, 255, 0.7);
    font-size: 23px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgb(20 20 20 / 0%);
}

#leaderContainer {
  text-align: left;
  color: #fff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 3px;
  background-color: rgb(108 108 108 / 0%);
}

#timerIcon {
  display: none !important;
}

#timerInner {
  background-color: transparent !important;
}


#termsInfo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px 15px 20px;
  border-top-left-radius: 6px;
  margin-right: -15px;
  display: none;
  cursor: none;
}


#subLogoButtons {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0) scale(0.95);
}


#customizeButton {
  display: inline-block;
  width: 449px;
  text-align: center;
  padding: 15px;
  font-size: 27px !important;
  pointer-events: all;
  padding-bottom: 22px;
  line-height: 40px;
  left: 77%;
  bottom: 0%;
  position: fixed;
  border: 4px solid #00000000 !important;
}

#customizeButton:hover {
  font-size: 33px !important;
}


#instructions:after  {
  font-size:20px;
  content:url(https://github.com/crazy-90/krunker.io/blob/main/images/image1.png?raw=true);
  color: lightpink;
  text-shadow: 0px 0px 6px black;

  
}

#instructions {
  font-size:0px!important;
  position: absolute;
  top: 10%;
}


#chatList {
  overflow-y: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999999;
  border-radius: 5px 5px 0 0;
  background-color: rgb(0 0 0 / 0%);
  pointer-events: all;
  position: relative;
  direction: rtl;
  text-align: left;
  box-shadow: unset!important;
  width: 200%;
}


#chatInputHolder {
  width: 413px;
  font-size: 9px;
  box-sizing: border-box;
  background-color: var(--div-black);
  pointer-events: all;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  display: inline-grid;
  grid-template-columns: auto 270px auto;
  padding-top: 0px!important;
  position: relative;
  box-shadow: unset!important;
}



#bottomLeftPlayer {
  border-radius: 4px;
  background-color: rgb(20 20 20 / 0%);
  display: inline-grid;
  grid-template-columns: auto 250px auto;
  /* box-shadow: var(--div-shadow); */
}


#timerHolder.topLeftOld {
  background-color: transparent !important;
  left: 947px !important;
  position: fixed;
}

#timerIcon {
  display: none !important;
}


#streamContainer {
  pointer-events: none;
  padding: 10px;
  z-index: 20;
  position: absolute;
  right: 14px;
  top: 86px;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.4);
  min-width: 300px;
  min-height: 245px;
  display: none;
}

.leaderName, .leaderNameM, .leaderNameF {
  color: rgb(255, 255, 255) !important;
  flex-grow: 1;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
}


.leaderScore {
  margin-left: 8px;
  text-align: right;
  color: lightpink !important;
}


.leaderCounter {
  margin-right: 8px;
  width: 20px;
  color: lightpink !important;
}


.leaderItem {
  display: flex;
  font-size: 18px;
  color: lightpink !important;
}


#killsVal, #deathsVal, #streakVal, #myScoreVal, #kdVal {
  color: lightpink !important;
}


#matchInfo {
  z-index: 3;
  color: #ffb6c1 !important;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020;
  /* width: 300px; */
}

#PC7WaterMark1 {
  color: lightpink !important;
}


.sliderSml {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  pointer-events: all;
}


.menuItem .menuItemTitle {
  margin-top: -20%;
  color: #ffffff00;
}


#uiBase.onMenu #spectButton span {
  font-size: 0px !important;
}


#pingDisplay, #fpsDisplay, #ingressDisplay, #egressDisplay, #tickDisplay {
  font-size: 14px;
  vertical-align: top;
  color: lightpink;
}


.statIcon {
  color: rgba(255, 255, 255, .6);
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgb(20 20 20 / 0%);
  color: lightpink;
}


#menuPingDisplay, #menuFPSDisplay {
  font-size: 12px;
  color: lightpink;
}

#timerHolder.topLeftOld {
  background-color: transparent !important;
  left: 46% !important;
}


#timerVal {
  color: #ffb6c1;
  font-size: 15px;
  will-change: transform;
  transform: translateZ(0);
  text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020;
}

.button.small {
  height: 40px;
  line-height: 45px;
  padding-top: 5px !important;
  padding-bottom: 13px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
  font-size: 20.5px !important;
  margin-left: 3px;
  margin-right: 3px;
  border: 4px solid #00000000 !important;
}

.button.small:hover {
    font-size: 25px !important;
}

#PC7WaterMark2 {
    color: rgb(255, 255, 255);
    font-size: 12px !important;
    display: block;
    margin-top: 5px;
    display: none !important;
}

#mapInfoHld {
  pointer-events: all;
  text-align: left;
  padding-left: 7px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 12px;
  border-bottom: 5px solid #585858;
  padding-bottom: 15px;
  top: -1560%;
  position: absolute;
  right: -100%;
}

#mapInfo {
  color: #fff;
  font-size: 10px;
  display: block
}

#signedInHeaderBar {
  padding-right: 0px !important;
  border-bottom-right-radius: 10px !important;
  background-color: transparent;
}


#mLevelCont {
  display: inline-block;
  background-color: rgb(0 0 0 / 0%);
  border-bottom-right-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  margin-left: 20px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 5.0));
}


.headerBar {
  position: absolute;
  top: 0;
  height: 70px;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0 0 0 / 0%);
  pointer-events: auto;
}

.progressBarInner {
  height: 100%;
  transition: width 1s ease-in-out;
  border-radius: 3px;
  background-image: linear-gradient(to right, #ffb6c1, #ffb6c1, 94%, white) !important;
}


#menuTimer {
  
    display: block;
    position: absolute;
    top: 49% !important;
    left: 1027px !important;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    font-size: 27px !important;
    color: black !important;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 5.0));

}


.button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 6px;
  border: 4px solid white;
  text-align: center;
  color: lightpink;
  pointer-events: all;
  cursor: pointer;
  -webkit-transition: all 0.08s;
  transition: all 0.08s;
  height: 30px;
  vertical-align: bottom;
  font-size: 20px !important;
  line-height: 35px;
  background-color: rgb(0 0 0 / 0%);
  border-color: rgba(0, 0, 0, 0) !important;
}

#menuClassIcn {
  margin-left: 10px;
  background-color: lightpink;
  border-radius: 4px;
  border: 4px solid rgb(255 255 255 / 40%);
  width: 85px;
  height: 85px;
  vertical-align: bottom;
  position: relative;
}

.switchsml {
  width: 100px;
  height: 20px;
  margin-left: -7px !important;
}


#uiBase.onMenu #spectButton span {
  font-size: 0px !important;
}


.sliderSml {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000 !important;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  pointer-events: all;
}


.sliderSml:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  display: none;
}

input:checked + .sliderSml {
  background-color: lightpink !important;
}


.weapIcon {
  margin-bottom: -20px;
  position: fixed;
  left: 44% !important;
  right: unset;
  bottom: 30px;
  transform: translateX(-50%);
  height: auto;
  width: 200px;
  filter: brightness(0) drop-shadow(0 0 5px var(--accent-color));
}


.greyInner, .greyInlineInner, .greyInlineInnerMid {
  margin: 3px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
}

#chatSwitch {
  font-size: 33px;
  pointer-events: all;
  color: #ffb6c1;
  vertical-align: middle;
  margin-bottom: 3px;
  cursor: pointer;
}


#voiceIcon {
  color: lightpink;
  font-size: 36px;
  display: inline-block;
}


#recTimer {
  display: inline-block;
  font-size: 18px;
  margin-top: 3px;
  color: lightpink;
  vertical-align: top;
  max-width: 38px;
  overflow: hidden;
}

* {
  cursor: url(https://raw.githubusercontent.com/crazy-90/krunker.io/refs/heads/main/images/New_Project_1.png) 3 5, auto !important;
}


#menuClassSubtext {
  z-index: 100;
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;
  margin-bottom: -3px;
  text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
  display: none;
}


.killStreakItem {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0px 3px;
  background-color: var(--div-black);
  border-radius: 4px;
  right: -87%;
}

#menuAccountUsername {
  vertical-align: bottom;
  display: inline-block;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 5.0));
}

#mailIcon {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: all;
  color: black !important;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 5.0));
}

#mLevelContV {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 70px;
  color: #000;
  text-align: left;
}

#menuRegionLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 5.0));
}


#bottomLeftClassImg {
  border-radius: 30%;
  content: url(https://raw.githubusercontent.com/crazy-90/krunker.io/refs/heads/main/images/0fa1c61f76d323f8bb79224beb55ca0a.png) !important;
}


.nHealthBarSeg {
  height: 50px;
  margin: 0px -8px;
  background-color: transparent !important;
}

#bottomLeftHealthBar {
  column-gap: 0px;
  padding: 0px;
  background-color: transparent !important;
}

.nHpBSeg {
  border-radius: 10px;
}

#bottomLeftPlayer {
  width: 375px;
  grid-template-columns: 105px 250px auto;
  background-color: var(--div-grey);
}

#bottomLeftPlayerLeft {
  margin: 0px;
  background-color: transparent !important;
}


.xpEndBarB {
  background-image: linear-gradient(to right, #ffb6c1, #ffb6c1, 94%, white) !important;
}


.endTableN[style*="#fff"], .leaderNameM, .newLeaderNameM {
  filter: drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black)
  !important;
}

.xpEndBPBarB {
  background-image: linear-gradient(to right, #ffb6c1, #ffb6c1, 94%, white) !important;
}

.custContainer {
  position: relative;
  display: inline-block;
  background-color: rgb(0 0 0) !important;
  padding: 5px;
  border: 3px solid rgb(255 255 255 / 40%);
  border-radius: 5px;
  box-shadow: inset 0 0 50px 0px rgb(0,0,0, 10%) !important;
  margin-top: 5px;
  width: 46.9%;
  height: 150px;
  opacity: 0.7;
  /* cursor: not-allowed; */
  border-color: lightpink;
  filter: drop-shadow(0 0 10px rgba(255, 182, 193, 1.0));
}


.selectorItem:hover {
  background-color: #000000;
}


#menuWindow.dark {
  background-color: #353535 !;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: black !important;
  box-shadow: 2px 2px 8px rgb(0 0 0) !important;
}


#selectorContainer {
  position: sticky;
  display: table;
  width: calc(100% + 40px);
  background-color: #000000 !important;
  margin: -20px;
  top: -20px;
  margin-bottom: 20px;
  text-align: center;
  table-layout: fixed;
  z-index: 6;
}


.selectedItem {
  border: 3px solid lightpink !important;
  border-radius: 6px;
}


#menuWindow {
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  pointer-events: auto;
  padding: 20px;
  width: 705px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 250px);
  font-size: 20px;
  background-color: #000 !important;
  -webkit-box-shadow: 0px 9px 0px 0px #a6a6a6;
  -moz-box-shadow: 0px 9px 0px 0px #a6a6a6;
  box-shadow: 0px 9px 0px 0px #a6a6a6;
}


.classCard {
  text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 7px;
  padding: 10px;
  width: 246px;
  height: 95px;
  vertical-align: top;
  border-radius: 5px;
  display: inline-block;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 0.5rem #000000;
  background-color: #535050;
  filter: drop-shadow(0 0 10px rgba(255, 182, 193, 1.0));
}

.clsXPBarC {
  margin: 4px;
  background-image: linear-gradient(to right, #ffb6c1, #ffb6c1, 94%, white) !important;
  height: 18px;
}


.blackShad {
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c, 1px 1px 0 #1c1c1c, -2px -2px 0 #1c1c1c, 2px -2px 0 #1c1c1c, -2px 2px 0 #1c1c1c, 2px 2px 0 #1c1c1c;
  background-color: black !important;
}
